<section class="container-fluid">
  <div id="main" class="nav-container">
    <div full-page>
        <div class="section">
          <div class="video-container">
            <!-- <video autoplay loop id="video-background" muted>
              <source src="videos/mute-vbg-480.mp4" type="video/mp4">
            </video> -->
            <video-background source="homeCtrl.myVideo" auto-play="true"></video-background>
          </div>
        </div>
        <div class="section">
          <div class="mainContent-Contianer">
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-12">
                <h1 class="display-3">Who we are ?</h1>
                <p class="lead">
                  We are service providers to Dentists /Dental students who are seeking to provide dentistry in USA and want to make an informed decision about the realities of life after graduation.
                </p>
                <p class="lead">
                  Our Vision is to:
                </p>
                <ul class="listContainer">
                  <li>Share our knowledge</li>
                  <li>Experiences</li>
                  <li>Resources</li>
                  <li>Skills</li>
                </ul>
                <p class="lead">So, we can help you make a clear informed decision before you move to USA and pursue dentistry as a career</p>
              </div>
              <div class="col-md-offset-1 col-sm-offset-1 col-md-7 col-sm-7 col-xs-12 videoContainer">
                <div class="videoPlayer">
                  <videogular vg-theme="homeCtrl.config.theme">
                    <vg-media vg-src="homeCtrl.config.sources"
                        vg-tracks="homeCtrl.config.tracks">
                    </vg-media>

                    <vg-controls>
                      <vg-play-pause-button></vg-play-pause-button>
                      <!-- <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display> -->
                      <vg-scrub-bar>
                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                      </vg-scrub-bar>
                      <!-- <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display> -->
                      <vg-volume>
                        <vg-mute-button></vg-mute-button>
                        <vg-volume-bar></vg-volume-bar>
                      </vg-volume>
                      <vg-fullscreen-button></vg-fullscreen-button>
                    </vg-controls>
                    <vg-overlay-play></vg-overlay-play>
                  </videogular>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-offset-4 col-md-offset-3 col-sm-offset-2 col-xs-offset-2 col-lg-4 col-md-5 col-sm-8 col-xs-8">
              <slick class="carouselContainer" settings="homeCtrl.slickConfig" ng-if="homeCtrl.numberLoaded" slides-to-show=2 slides-to-scroll=1 dots="false" responsive="homeCtrl.breakpoints"infinite="true" >
                <div ng-repeat="teamMem in homeCtrl.teamSolos">
                  <div class="card">
                    <img class="card-img-top" ng-src="{{teamMem.imgSrc}}" width="160" height="160" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">{{teamMem.name}}</h4>
                      <p class="card-text">{{teamMem.description}}</p>
                    </div>
                  </div>
                </div>
              </slick>
            </div>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="mainContent-Contianer">
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-12">
                <h1 class="display-3">Who we are ?</h1>
                <p class="lead">
                  We are service providers to Dentists /Dental students who are seeking to provide dentistry in USA and want to make an informed decision about the realities of life after graduation.
                </p>
                <p class="lead">
                  Our Vision is to:
                </p>
                <ul class="listContainer">
                  <li>Share our knowledge</li>
                  <li>Experiences</li>
                  <li>Resources</li>
                  <li>Skills</li>
                </ul>
                <p class="lead">So, we can help you make a clear informed decision before you move to USA and pursue dentistry as a career</p>
              </div>
              <div class="col-md-offset-1 col-sm-offset-1 col-md-7 col-sm-7 col-xs-12 videoContainer">
                <div class="videoPlayer">
                  <videogular vg-theme="homeCtrl.config.theme">
                    <vg-media vg-src="homeCtrl.config.sources"
                        vg-tracks="homeCtrl.config.tracks">
                    </vg-media>

                    <vg-controls>
                      <vg-play-pause-button></vg-play-pause-button>
                      <!-- <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display> -->
                      <vg-scrub-bar>
                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                      </vg-scrub-bar>
                      <!-- <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display> -->
                      <vg-volume>
                        <vg-mute-button></vg-mute-button>
                        <vg-volume-bar></vg-volume-bar>
                      </vg-volume>
                      <vg-fullscreen-button></vg-fullscreen-button>
                    </vg-controls>
                    <vg-overlay-play></vg-overlay-play>
                  </videogular>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-offset-4 col-md-offset-3 col-sm-offset-2 col-xs-offset-2 col-lg-4 col-md-5 col-sm-8 col-xs-8">
              <slick class="carouselContainer" settings="homeCtrl.slickConfig" ng-if="homeCtrl.numberLoaded" slides-to-show=2 slides-to-scroll=1 dots="false" responsive="homeCtrl.breakpoints"infinite="true" >
                <div ng-repeat="teamMem in homeCtrl.teamSolos">
                  <div class="card">
                    <img class="card-img-top" ng-src="{{teamMem.imgSrc}}" width="160" height="160" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">{{teamMem.name}}</h4>
                      <p class="card-text">{{teamMem.description}}</p>
                    </div>
                  </div>
                </div>
              </slick>
            </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div id="sidenav" class="sidenav">
    <div class="container-box" ng-show="{{$rootScope.showContent}}">
      <img ng-src="images/logo-highlight.png" width="120px" height="120px" style="background-color:#fff;"/>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" ui-sref="about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">WHY US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ui-sref="services">SERVICES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ui-sref="contact">CONTACT US</a>
        </li>
      </ul>
      <div class="fabToolBar">
        <ul>
          <li><i class="fa fa-facebook-official"></i></li>
          <li><i class="fa fa-twitter-square"></i></li>
          <li><i class="fa fa-linkedin-square"></i></li>
        </ul>
      </div>
      <div class="container-fluid" style="color:#818181;padding:20px 0;">
        <div class="row text-center">
          <div class="col-xs-12">
            <p>Made with
              <img src="images/coffee-16x16.png"> <i class="fa fa-heart" style="color:red;padding:0;"></i> <img src="images/donut-16x16.png">
               in NJ, Pune
            </p>
          </div>
        </div>
        <div class="row text-center">
          <div>
            <p>Copyright © 2017 All rights reserved</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
