<section class="container-fluid">
  <div class="nav-container">
      <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-1">
          <button ng-click="homeCtrl.clickedMe()" ng-if="!homeCtrl.isOpen">
              <img ng-src="images/logo-highlight.png" width="120px" height="120px"
                onmouseover="this.src='images/logo-normal.png'" onmouseout="this.src='images/logo-highlight.png'"/>
          </button>
        </div>
        <div class="col-md-11 col-sm-11 col-xs-11">
          <span class="pull-right">
            <i class="fa fa-bars" aria-hidden="true" ng-click="homeCtrl.hideNavBar()" ng-if="!homeCtrl.isOpen"></i>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="fabToolBar">
          <ul>
            <li><i class="fa fa-facebook-official"></i></li>
            <li><i class="fa fa-twitter-square"></i></li>
            <li><i class="fa fa-linkedin-square"></i></li>
          </ul>
      </div>
  </div>
  <div class="overlay-nav" ng-if="homeCtrl.isOpen">
    <div class="row">
      <div class="col-md-1 col-sm-1 col-xs-1">
        <button ng-click="homeCtrl.clickedMe()" ng-if="homeCtrl.isOpen">
            <img src="images/logo-normal.png" width="120px" height="120px" />
        </button>
      </div>
      <div class="col-md-11 col-sm-11 col-xs-11">
        <span class="pull-right">
          <i class="fa fa-times" aria-hidden="true" ng-click="homeCtrl.hideNavBar()" ng-if="homeCtrl.isOpen"></i>
        </span>
      </div>
    </div>
    <div class="row">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">WHY US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SERVICES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FREE TOOLS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">EVENTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CONTACT US</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="video-container">
    <video autoplay loop id="video-background" muted>
      <source src="videos/sliceOfNYC-2-480p.mp4" type="video/mp4">
    </video>
  </div>
</section>
