<section class="container-fluid">
  <div id="main" class="nav-container">
      <div class="row">
        <!-- <div class="col-md-1 col-sm-1 col-xs-1">
          <a ui-sref="home" ng-show="!homeCtrl.isOpen">
              <img ng-src="images/logo-highlight.png" width="120px" height="120px"
                onmouseover="this.src='images/logo-normal.png'" onmouseout="this.src='images/logo-highlight.png'"/>
          </a>
        </div> -->
        <div class="col-md-12 col-sm-12 col-xs-12">
          <span class="pull-right">
            <!-- <i class="fa fa-bars" aria-hidden="true" ng-click="homeCtrl.hideNavBar()" ng-if="!homeCtrl.isOpen"></i> -->
            <!-- <div class="fabToolBar">
              <ul>
                <li><i class="fa fa-facebook-official"></i></li>
                <li><i class="fa fa-twitter-square"></i></li>
                <li><i class="fa fa-linkedin-square"></i></li>
              </ul>
            </div> -->

          </span>
        </div>
      </div>
      <div class="video-container">
        <video autoplay loop id="video-background" muted>
          <source src="videos/mute-vbg-480.mp4" type="video/mp4">
        </video>
      </div>
  </div>
  <div id="sidenav" class="sidenav">
    <div class="container-box" ng-show="{{$rootScope.showContent}}">
      <img ng-src="images/logo-highlight.png" width="120px" height="120px" style="background-color:#fff;"/>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" ui-sref="about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">WHY US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ui-sref="services">SERVICES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FREE TOOLS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">EVENTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ui-sref="contact">CONTACT US</a>
        </li>
      </ul>
    </div>
  </div>
</section>
