<div class="container-fluid">
  <!-- Container for Navigation Bar -->
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <nav-directive></nav-directive>
    </div>
  </div>

  <!-- Container for the main content area -->
  <div class="row Services-MainContent-Contianer">
    <div class="col-md-offset-2 col-sm-offset-2 col-md-8 col-sm-8 content-Container" ng-if="!servicesCtrl.checkMedia()">
      <div class="row gridContainer">
        <div class="col-md-4 col-sm-4 counseling-serviceBox" data-toggle="modal" data-target="#myModal" ng-click="servicesCtrl.putData(0)">
          <div class="imageContainer">
            <img
             class="img-responsive"
             ng-src="{{servicesCtrl.imageData.data[0].dataSrc}}" />
          </div>
          <div class="cardTitle text-center"><span>Counselling</span></div>
        </div>
        <div class="col-md-4 col-sm-4 network-serviceBox" data-toggle="modal" data-target="#myModal" ng-click="servicesCtrl.putData(1)">
          <div class="imageContainer">
            <img
              class="img-responsive"
              ng-src="{{servicesCtrl.imageData.data[1].dataSrc}}" />
          </div>
          <div class="cardTitle text-center"><span>Network with Dentists</span></div>
        </div>
        <div class="col-md-4 col-sm-4 test-serviceBox" data-toggle="modal" data-target="#myModal" ng-click="servicesCtrl.putData(2)">
          <div class="imageContainer">
            <img
             class="img-responsive"
             ng-src="{{servicesCtrl.imageData.data[2].dataSrc}}" />
          </div>
          <div class="cardTitle text-center"><span>Bench Test</span></div>
        </div>
      </div>
      <div class="row gridContainer">
        <div class="col-md-4 col-sm-4 food-serviceBox" data-toggle="modal" data-target="#myModal" ng-click="servicesCtrl.putData(3)">
          <div class="imageContainer">
            <img
             class="img-responsive"
             ng-src="{{servicesCtrl.imageData.data[3].dataSrc}}" />
          </div>
          <div class="cardTitle text-center"><span>Food</span></div>
        </div>
        <div class="col-md-4 col-sm-4 hotel-serviceBox" data-toggle="modal" data-target="#myModal" ng-click="servicesCtrl.putData(4)">
          <div class="imageContainer">
            <img
             class="img-responsive"
             ng-src="{{servicesCtrl.imageData.data[4].dataSrc}}" />
          </div>
          <div class="cardTitle text-center"><span>Hotel/Accomodation</span></div>
        </div>
        <div class="col-md-4 col-sm-4 places-serviceBox" data-toggle="modal" data-target="#myModal" ng-click="servicesCtrl.putData(5)">
          <div class="imageContainer">
            <img
             class="img-responsive"
             ng-src="{{servicesCtrl.imageData.data[5].dataSrc}}" />
          </div>
          <div class="cardTitle text-center"><span>Places to Visit</span></div>
        </div>
      </div>

      <!-- Modal Window -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-cloak>
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
              <h4 class="modal-title" id="myModalLabel">{{servicesCtrl.imageData.data[servicesCtrl.getData()].title}}</h4>
            </div>
            <div class="modal-body">
              <ul style="list-style:none;">
                <div class="row">
                  <li ng-repeat="listItem in servicesCtrl.imageData.data[servicesCtrl.getData()].modalData" class="list-group listClass">
                    <img
                      class="img-responsive"
                      ng-src="{{listItem.dataSrc}}" />
                    <ul>
                      <li ng-repeat="point in listItem.data" class="pointStyle">{{point}}</li>
                    </ul>
                  </li>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-offset-2 col-md-8 list-container" ng-if="servicesCtrl.checkMedia()">
      <div class="panel-group" id="accordion" aria-multiselectable="true">
       <!--panel-->
       <div class="panel panel-default">
        <div class="panel-heading collapsed" data-parent="#accordian" data-toggle="collapse" data-target="#collapse1" active-deactive>
          <h3 class="panel-title text-left">
            <img
             class="img-responsive"
             ng-src="{{servicesCtrl.imageData.data[0].dataSrc}}" />
            <span>{{servicesCtrl.imageData.data[0].title}}</span>
          </h3>
          <!-- <i class="fa fa-chevron-down pull-right icon-rotate"></i> -->
          <div class="openList pull-right"></div>
        </div>
        <div id="collapse1" class="collapse">
          <div class="panel-body">
            <div class="row listRow" ng-repeat="listItem in servicesCtrl.imageData.data[0].modalData">
              <div class="col-xs-4">
                <img
                  class="img-responsive"
                  ng-src="{{listItem.dataSrc}}" />
              </div>
              <div class="col-xs-8">
                <ul>
                  <li ng-repeat="point in listItem.data" class="pointStyle">{{point}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
       </div>

      <!--panel-->
      <div class="panel panel-default">
       <div class="panel-heading collapsed" data-parent="#accordian" data-toggle="collapse" data-target="#collapse2" active-deactive>
         <h3 class="panel-title text-left">
           <img
            class="img-responsive"
            ng-src="{{servicesCtrl.imageData.data[1].dataSrc}}" />
           <span>{{servicesCtrl.imageData.data[1].title}}</span>
         </h3>
         <!-- <i class="fa fa-chevron-down pull-right icon-rotate"></i> -->
         <div class="openList pull-right"></div>
       </div>
       <div id="collapse2" class="collapse">
         <div class="panel-body">
           <div class="row listRow" ng-repeat="listItem in servicesCtrl.imageData.data[1].modalData">
             <div class="col-xs-4">
               <img
                 class="img-responsive"
                 ng-src="{{listItem.dataSrc}}" />
             </div>
             <div class="col-xs-8">
               <ul>
                 <li ng-repeat="point in listItem.data" class="pointStyle">{{point}}</li>
               </ul>
             </div>
           </div>
         </div>
       </div>
      </div>

         <!--panel-->
         <div class="panel panel-default">
          <div class="panel-heading collapsed" data-parent="#accordian" data-toggle="collapse" data-target="#collapse3" active-deactive>
            <h3 class="panel-title text-left">
              <img
               class="img-responsive"
               ng-src="{{servicesCtrl.imageData.data[2].dataSrc}}" />
              <span>{{servicesCtrl.imageData.data[2].title}}</span>
            </h3>
            <!-- <i class="fa fa-chevron-down pull-right icon-rotate"></i> -->
            <div class="openList pull-right"></div>
          </div>
          <div id="collapse3" class="collapse">
            <div class="panel-body">
              <div class="row listRow" ng-repeat="listItem in servicesCtrl.imageData.data[2].modalData">
                <div class="col-xs-4">
                  <img
                    class="img-responsive"
                    ng-src="{{listItem.dataSrc}}" />
                </div>
                <div class="col-xs-8">
                  <ul>
                    <li ng-repeat="point in listItem.data" class="pointStyle">{{point}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
         </div>

         <!-- panel -->
         <div class="panel panel-default">
          <div class="panel-heading collapsed" data-parent="#accordian" data-toggle="collapse" data-target="#collapse4" active-deactive>
            <h3 class="panel-title text-left">
              <img
               class="img-responsive"
               ng-src="{{servicesCtrl.imageData.data[3].dataSrc}}" />
              <span>{{servicesCtrl.imageData.data[3].title}}</span>
            </h3>
            <!-- <i class="fa fa-chevron-down pull-right icon-rotate"></i> -->
            <div class="openList pull-right"></div>
          </div>
          <div id="collapse4" class="collapse">
            <div class="panel-body">
              <div class="row listRow" ng-repeat="listItem in servicesCtrl.imageData.data[3].modalData">
                <div class="col-xs-4">
                  <img
                    class="img-responsive"
                    ng-src="{{listItem.dataSrc}}" />
                </div>
                <div class="col-xs-8">
                  <ul>
                    <li ng-repeat="point in listItem.data" class="pointStyle">{{point}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
         </div>

         <!-- panel -->
         <div class="panel panel-default">
          <div class="panel-heading collapsed" data-parent="#accordian" data-toggle="collapse" data-target="#collapse5" active-deactive>
            <h3 class="panel-title text-left">
              <img
               class="img-responsive"
               ng-src="{{servicesCtrl.imageData.data[4].dataSrc}}" />
              <span>{{servicesCtrl.imageData.data[4].title}}</span>
            </h3>
            <!-- <i class="fa fa-chevron-down pull-right icon-rotate"></i> -->
            <div class="openList pull-right"></div>
          </div>
          <div id="collapse5" class="collapse">
            <div class="panel-body">
              <div class="row listRow" ng-repeat="listItem in servicesCtrl.imageData.data[4].modalData">
                <div class="col-xs-4">
                  <img
                    class="img-responsive"
                    ng-src="{{listItem.dataSrc}}" />
                </div>
                <div class="col-xs-8">
                  <ul>
                    <li ng-repeat="point in listItem.data" class="pointStyle">{{point}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
         </div>

         <!-- panel -->
         <div class="panel panel-default">
          <div class="panel-heading collapsed" data-parent="#accordian" data-toggle="collapse" data-target="#collapse6" active-deactive>
            <h3 class="panel-title text-left">
              <img
               class="img-responsive"
               ng-src="{{servicesCtrl.imageData.data[5].dataSrc}}" />
              <span>{{servicesCtrl.imageData.data[5].title}}</span>
            </h3>
            <!-- <i class="fa fa-chevron-down pull-right icon-rotate"></i> -->
            <div class="openList pull-right"></div>
          </div>
          <div id="collapse6" class="collapse">
            <div class="panel-body">
              <div class="row listRow" ng-repeat="listItem in servicesCtrl.imageData.data[5].modalData">
                <div class="col-xs-4">
                  <img
                    class="img-responsive"
                    ng-src="{{listItem.dataSrc}}" />
                </div>
                <div class="col-xs-8">
                  <ul>
                    <li ng-repeat="point in listItem.data" class="pointStyle">{{point}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
         </div>
      </div>
    </div>
  </div>

  <!-- Container for Footer -->
  <div class="row footerContainer">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <footer-directive></footer-directive>
    </div>
  </div>
</div>
