<footer>
     <div class="container-fluid">
       <div class="row text-center">
         <div class="col-md-6 col-sm-6 col-xs-12">
           <div class="row">
             <div class="col-md-8 col-sm-8 col-xs-10 text-center">
               <p class="tagline">Made with
                 <img src="images/coffee-16x16.png"> <i class="fa fa-heart" style="color:red;padding:0;"></i> <img src="images/donut-16x16.png">
                  in NJ, Pune
               </p>
             </div>
             <div class="col-md-4 col-sm-4 col-xs-12">
               <ul class="list-inline">
                    <li>
                         <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                         <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                         <a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
               </ul>
             </div>
           </div>
         </div>
         <div class="col-md-6 col-sm-6 col-xs-12">
            <ul class="menu list-inline">
              <li><a ui-sref="about">About</a></li>
              <li><a href="#">Why Us</a></li>
              <li><a ui-sref="services">Services</a></li>
              <li><a href="#">Free Tools</a></li>
              <li><a href="#">Events</a></li>
              <li><a ui-sref="contact">Contact Us</a></li>
           </ul>
         </div>
       </div>
       <div class="row text-center">
         <div class="copyright">
           <p>Copyright © 2017 All rights reserved</p>
         </div>
       </div>
    </div>

</footer>
