body{

  background-image: url('../images/school.png');
  background-repeat: repeat-x repeat-y;
  font-family: 'Open Sans', sans-serif;
}
.container-fluid div.mainContent-Contianer{
  width: 100%;
  margin: 60px auto;
}

.container-fluid div.mainContent-Contianer p.lead{
  font-size: 16px;
}

ul.listContainer{
  list-style: none;
  padding:10px;
}

.carouselContainer{
  background-color: grey;
  padding: 10px;
  border-radius: 4px;
}

/*.carouselContainer.slick-slider{
  display: inline-block;
}*/

.carouselContainer div.card{
  width: 180px;
  margin:15px auto;
  padding: 10px;
}

.carouselContainer div.card img.card-img-top{
  margin:auto;
}

.carouselContainer div.card:hover{
  background-color: #f6f6f7;
  border-radius: 4px;
  cursor: default;

  -webkit-box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow:    5px 5px 3px rgba(0, 0, 0, 0.4);
  box-shadow:         5px 5px 3px rgba(0, 0, 0, 0.4);
}

.carouselContainer div.card:active{
  outline: 0;
}

.slick-track .slick-slide{
  outline: 0;
}

@media screen and (min-width: 768px) and (max-width: 780px){
  .col-sm-offset-1{
    margin-left: 4.333333%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1050px){
  .slick-track{
    width: 760px !important;
    margin:0 0 0 20px;
  }

  .slick-track .slick-slide.slick-active{
    width: 190px !important;
  }
}

@media screen and (min-width: 1051px){
  .slick-track{
    width: 760px !important;
    margin:0 15px 0 15px;
  }

  .slick-track .slick-slide.slick-active{
    width: 190px !important;
  }
}

.videoContainer{
  position: relative;
}

.videoPlayer{
  width: 60%;
  margin:50px auto;
}

div.iconButton.play{
  font-size: 50px;
}
