section.container-fluid{
  margin:0 15px 0 15px;
  padding:0;
}

section div.nav-container{
  position:absolute;
  top:0;
  left:0;
  right: 0;
  bottom:0;
  overflow-x: hidden;
  z-index: 3;
}

section div.nav-container div button{
  background: none;
  border: 0;
  margin-left: 15px;
}

section div.nav-container div button:focus{
  outline: 0;
}

section div.nav-container div span .fa.fa-bars{
  /*color: #e5d80e;*/
  color: #ffffff;
  font-size: 2em;
  padding:0 15px 0 0;
  top: 45px;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}

section div.nav-container div span .fa.fa-bars:focus{
  outline: 0;
}

section div.nav-container div button:hover{
  background: src('images/logo-normal.png');
}

section div.overlay-nav div ul.nav.flex-column{
  position: relative;
  top:0;
  font-family: 'OpenSans-ExtraBold', sans-serif;
  font-size: 3em;
  font-weight: 900;
  /*padding:0 0 0 30px;*/
}

section div.overlay-nav div ul.nav.flex-column > li > a{
  color: white;
  padding-left:45px;
}

section div.overlay-nav div ul.nav.flex-column > li > a:active{
  color: #e5d80e;
  background-color: white;
}

section div.overlay-nav div ul.nav.flex-column > li > a:hover{
  color: #e5d80e;
  background-color: white;
}

section div.overlay-nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 15px;
  bottom:0;
  width: 100%;
  height: 100%;
  background-color: #e5d80e;
  opacity: 0.8;
  z-index: 3;
}

section div.overlay-nav div button{
  background: none;
  border: 0;
  margin-left: 15px;
}

section div.overlay-nav div button:focus{
  outline: 0;
}

section div.overlay-nav div span .fa.fa-times{
  /*color: #e5d80e;*/
  color: #ffffff;
  font-size: 2em;
  padding:0 15px 0 0;
  top: 45px;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}

section div.overlay-nav div span .fa.fa-times:focus{
  outline: 0;
}

section div.overlay-nav.ng-enter{
  transition: ease-in-out;
  opacity: 0;
}

section div.overlay-nav.ng-enter.ng-enter-active{
  transition: 0.5s linear all;
  opacity: 0;
}

@media screen and (min-width: 320px) and (max-width: 419px){

  section div.overlay-nav div span .fa.fa-times{
    /*color: #e5d80e;*/
    color: #ffffff;
    font-size: 2em;
    padding:0 30px 0 0;
    top: 45px;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
  }

  section div.nav-container div span .fa.fa-bars{
    /*color: #e5d80e;*/
    color: #ffffff;
    font-size: 2em;
    padding:0 30px 0 0;
    top: 45px;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
  }

  section div.overlay-nav div ul.nav.flex-column{
    position: relative;
    top:0;
    font-family: 'OpenSans-ExtraBold', sans-serif;
    font-size: 2em;
    font-weight: 900;
    /*padding:0 0 0 30px;*/
  }

}

@media screen and (min-width: 420px) and (max-width: 1024px){

  section div.overlay-nav div span .fa.fa-times{
    /*color: #e5d80e;*/
    color: #ffffff;
    font-size: 2em;
    padding:0 30px 0 0;
    top: 45px;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
  }

  section div.nav-container div span .fa.fa-bars{
    /*color: #e5d80e;*/
    color: #ffffff;
    font-size: 2em;
    padding:0 30px 0 0;
    top: 45px;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
  }

  section div.overlay-nav div ul.nav.flex-column{
    position: relative;
    top:0;
    font-family: 'OpenSans-ExtraBold', sans-serif;
    font-size: 5em;
    font-weight: 900;
    /*padding:0 0 0 30px;*/
  }

}

.fabToolBar{
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.fabToolBar ul{
  list-style: none;
}

.fabToolBar ul > li{
  display: inline;
  padding:8px;
}

.fabToolBar ul > li > i{
  color: #ffffff;
  font-size: 2em;
}

.fabToolBar ul > li > i:hover{
  color: #e5d80e;
  font-size: 2em;
}

/*********/
div.m-app-loading .spinner {
  margin: 50% auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  background-color: #e5d80e;
}

div.m-app-loading .spinner > div {
  background-color: #ffffff;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

div.m-app-loading .spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

div.m-app-loading .spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

div.m-app-loading .spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

div.m-app-loading .spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
/*********/

#video-background {
/*  making the video fullscreen  */
  position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  /*width: 100% !important;
  height: auto !important;*/
  z-index: -100;
}
