body{

  /* background-image: url('../images/school.png');
  background-repeat: repeat-x repeat-y; */
  /* font-family: 'Helvetica', 'Arial', sans-serif; */
  /* font-family: 'Open Sans Condensed', sans-serif; */
  font-family: 'Playfair Display', 'Arial' serif !important;
}

section.container-fluid{
  margin:0 15px 0 15px;
  padding:0;
}

section div.nav-container{
  position:absolute;
  top:0;
  left:0;
  right: 0;
  bottom:0;
  overflow-x: hidden;
  z-index: 3;
  overflow-y: hidden;
}

/* section div.nav-container div button{
  background: none;
  border: 0;
  margin-left: 15px;
} */

.carouselContainer  .slick-prev{
  left: 0;
}

.carouselContainer .slick-next{
  right: 0;
}

section div.nav-container div button:focus{
  outline: 0;
}

section div.nav-container div span .fa.fa-bars{
  /*color: #e5d80e;*/
  color: #ffffff;
  font-size: 2em;
  padding:0 15px 0 0;
  top: 45px;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}

section div.nav-container div span .fa.fa-bars:focus{
  outline: 0;
}

section div.nav-container div button:hover{
  background: src('images/logo-normal.png');
}

section div.overlay-nav div ul.nav.flex-column{
  position: relative;
  top:0;
  font-family: 'Lato-ExtraBold', sans-serif;
  font-size: 3em;
  font-weight: 900;
  /*padding:0 0 0 30px;*/
}

section div.overlay-nav div ul.nav.flex-column > li > a{
  color: white;
  padding-left:45px;
}

section div.overlay-nav div ul.nav.flex-column > li > a:active{
  color: #e5d80e;
  background-color: white;
}

section div.overlay-nav div ul.nav.flex-column > li > a:hover{
  color: #e5d80e;
  background-color: white;
}

section div.overlay-nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 15px;
  bottom:0;
  width: 100%;
  height: 100%;
  background-color: #e5d80e;
  opacity: 0.8;
  z-index: 3;
}

section div.overlay-nav div button{
  background: none;
  border: 0;
  margin-left: 15px;
}

section div.overlay-nav div button:focus{
  outline: 0;
}

section div.overlay-nav div span .fa.fa-times{
  /*color: #e5d80e;*/
  color: #ffffff;
  font-size: 2em;
  padding:0 15px 0 0;
  top: 45px;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}

section div.overlay-nav div span .fa.fa-times:focus{
  outline: 0;
}

section div.overlay-nav.ng-enter{
  transition: ease-in-out;
  opacity: 0;
}

section div.overlay-nav.ng-enter.ng-enter-active{
  transition: 0.5s linear all;
  opacity: 0;
}

@media screen and (min-width: 320px) and (max-width: 419px){

  section div.overlay-nav div span .fa.fa-times{
    /*color: #e5d80e;*/
    color: #ffffff;
    font-size: 2em;
    padding:0 30px 0 0;
    top: 45px;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
  }

  section div.nav-container div span .fa.fa-bars{
    /*color: #e5d80e;*/
    color: #ffffff;
    font-size: 2em;
    padding:0 30px 0 0;
    top: 45px;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
  }

  section div.overlay-nav div ul.nav.flex-column{
    position: relative;
    top:0;
    font-family: 'Lato-ExtraBold', sans-serif;
    font-size: 2em;
    font-weight: 900;
    /*padding:0 0 0 30px;*/
  }

}

@media screen and (min-width: 420px) and (max-width: 1024px){

  section div.overlay-nav div span .fa.fa-times{
    /*color: #e5d80e;*/
    color: #ffffff;
    font-size: 2em;
    padding:0 30px 0 0;
    top: 45px;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
  }

  section div.nav-container div span .fa.fa-bars{
    /*color: #e5d80e;*/
    color: #ffffff;
    font-size: 2em;
    padding:0 30px 0 0;
    top: 45px;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
  }

  section div.overlay-nav div ul.nav.flex-column{
    position: relative;
    top:0;
    font-family: 'Lato-ExtraBold', sans-serif;
    font-size: 5em;
    font-weight: 900;
    /*padding:0 0 0 30px;*/
  }

}

.fabToolBar{
  display: inline-block;
}

.fabToolBar ul{
  list-style: none;
  padding: 0;
}

.fabToolBar ul > li{
  display: inline;
  padding:8px;
}

.fabToolBar ul > li > i{
  color: #ffffff;
  font-size: 2em;
}

.fabToolBar ul > li > i:hover{
  font-size: 2em;
  cursor: pointer;
}

.fabToolBar ul > li > i.fa-facebook-official:hover{
  color: #3b5998;
}

.fabToolBar ul > li > i.fa-twitter-square:hover{
  color: #00aced;
}

.fabToolBar ul > li > i.fa-linkedin-square:hover{
  color:#007bb6;
}

/*********/
.pg-loading-screen .pg-loading-html{
  margin-top: 0;
}
/*********/

#video-background {
/*  making the video fullscreen  */
  position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  height: 100%;
  /*width: 100% !important;
  height: auto !important;*/
  z-index: -100;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: #222;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  /* transition: 0s */
}

#main {
  transition: margin-right .5s;
  /*padding: 16px;*/
}

.container-box{
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.container-box ul.nav{
  padding: 20px 0;
}

/* .container-box.ng-hide{
  opacity: 0;
} */

/* .hamburger.hamburger--spin .hamburger-box .hamburger-inner,
.hamburger.hamburger--spin .hamburger-box .hamburger-inner::before,
.hamburger.hamburger--spin .hamburger-box .hamburger-inner::after{
  background-color: #fff;
} */

.mainContent-Contianer .content-wrapper-title{
  padding: 15px;
}

.mainContent-Contianer .content-wrapper-body{
  margin: 10% 0;
  text-align: center;
}

.mainContent-Contianer .content-wrapper-body .service-title{
  display: block;
  text-align: left;
  font-size: 25px;
}

.mainContent-Contianer .content-wrapper-body .service-list{
  display: block;
  text-align: left;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

.mainContent-Contianer .separator-div{
  /* background-image: url('../images/asterisks.svg'); */
}

.container-fluid div.mainContent-Contianer p.lead{
  font-size: 50px;
}

.container-fluid div.mainContent-Contianer{
  font-family: 'Playfair Display', serif;
}

.formBox, .officeContainer{
  text-align: left;
  font-family: 'Open Sans Condensed', sans-serif;
}

.formContainer{
  margin-top: 50px;
}

.formContainer .formBox{
  padding: 10px;
  margin:auto;
}

.legendClass{
  border-bottom: 0;
}

.container-fluid div.mainContent-Contianer{
  width: 100%;
  /* margin: 60px auto; */
}



ul.listContainer{
  list-style: none;
  padding:10px;
}

.carouselContainer{
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
}

.carouselContainer.slick-slider{
  display: inline-block;
}

.carouselContainer div.card{
  width: 180px;
  margin:15px auto;
  padding: 10px;
}

.carouselContainer div.card img.card-img-top{
  margin:auto;
}

.carouselContainer div.card:hover{
  background-color: #8888a3;
  border-radius: 4px;
  cursor: default;

  -webkit-box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow:    5px 5px 3px rgba(0, 0, 0, 0.4);
  box-shadow:         5px 5px 3px rgba(0, 0, 0, 0.4);
}

.carouselContainer div.card:active{
  outline: 0;
}

.slick-track .slick-slide{
  outline: 0;
}

@media screen and (min-width: 1200px){
  .col-lg-4 {
      width: 34.33333333%;
  }
}

@media screen and (min-width: 768px) and (max-width: 780px){
  .col-sm-offset-1{
    margin-left: 4.333333%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1050px){
  .slick-track{
    width: 760px !important;
    /* margin:0 0 0 20px; */
  }

  .slick-track .slick-slide.slick-active{
    width: 190px !important;
  }

  .col-md-5 {
    width: 42.66666667%;
  }
}

@media screen and (min-width: 1051px){
  .slick-track{
    width: 760px !important;
    margin:0 15px 0 15px;
  }

  .slick-track .slick-slide.slick-active{
    width: 190px !important;
  }
}

.videoContainer{
  position: relative;
}

.videoPlayer{
  width: 60%;
  margin:50px auto;
}

div.iconButton.play{
  font-size: 50px;
}
