.container-fluid div.Services-MainContent-Contianer{
  width: 100%;
  margin: 60px auto 0;
}

div.Services-MainContent-Contianer button[type="button"]{
  border-radius: 100%;
  border: 1px solid #f6f6f7;
  background: none;
  outline: none;
}

div.Services-MainContent-Contianer button[type="button"] i.glyphicon{
  padding:60px;
  font-size: 16px;
}

.counseling-serviceBox, .network-serviceBox, .test-serviceBox, .food-serviceBox, .hotel-serviceBox, .places-serviceBox{
  width: 200px;
  height: 200px;
  margin:10px;
  border: 1px solid black;
  /*background-color: red;*/
}
