.container-fluid div.Services-MainContent-Contianer{
  width: 100%;
  margin: 50px 0 60px 0;
}

div.Services-MainContent-Contianer button[type="button"]{
  border-radius: 100%;
  border: 1px solid #f6f6f7;
  background: none;
  outline: none;
}

div.Services-MainContent-Contianer button[type="button"] i.glyphicon{
  padding:60px;
  font-size: 16px;
}

.Services-MainContent-Contianer .list-container{
  margin: 100px 0 100px 0;
}

.list-container .panel-group .panel{
  margin-bottom: 5px;
}

.list-container .panel-group .panel.panel-default .panel-heading .panel-title {
  display: inline;
}

.list-container .panel-group .panel.panel-default .panel-heading .panel-title img.img-responsive{
  display: inline;
  height: 10%;
  width: 12%;
}

.list-container .panel-group .panel.panel-default .panel-heading > .fa{
  padding: 10px;
  display: block;
}

.openList{
  height: 15px;
  width: 15px;
  background-color: #e5d80e;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 50%;
}

.rotate{
  @include transform: rotate(-180deg);
}

.icon-rotate{
  @include transition-duration: 0.4;
}

.panel-body img.img-responsive{
  margin-top: 15%;
  padding: 15px;
  background-color: #e5d80e;
}

.panel-body .listRow{
  margin: 15px 5px 15px 5px;
  background: #f6f6f7;
  border-radius: 4px;
}

.panel-body ul{
  list-style: none;
  padding: 0;
}

.panel-body ul li.pointStyle{
  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  page-break-inside: avoid; /* Firefox */
  break-inside: avoid;
}

.gridContainer{
  display: inline-table;
  margin: 0 auto;
}

.cardTitle{
  position: absolute;
  top: 70%;
  left: 0;
  font-size: 18px;
  color: #000;
  font-weight: bolder;
  /* display: inline-block; */
  width: 100%;
  /* margin: 0 auto; */
}

.counseling-serviceBox, .network-serviceBox, .test-serviceBox, .food-serviceBox, .hotel-serviceBox, .places-serviceBox{
  width: 200px;
  height: 200px;
  margin:10px;
  border: 1px solid black;
  background-color: #e5d80e;
  cursor: pointer;
}

.counseling-serviceBox:hover .cardTitle, .network-serviceBox:hover .cardTitle, .test-serviceBox:hover .cardTitle, .food-serviceBox:hover .cardTitle, .hotel-serviceBox:hover .cardTitle, .places-serviceBox:hover .cardTitle{
  color: #f6f6f7;

}

@media screen and (max-width: 1064px) and (min-width: 760px){
  .counseling-serviceBox, .network-serviceBox, .test-serviceBox, .food-serviceBox, .hotel-serviceBox, .places-serviceBox{
    float: left;
    clear: both;
  }
}

@media screen and (min-width: 1024px){
  .content-Container{
    margin-left: 22.667%;
  }
}

.imageContainer img.img-responsive{
  display: block;
  margin: 30% auto;
}

.listClass{
  float: left;
  width: 44%;
}



.listClass img.img-responsive{
  background-color: #e5d80e;
  border: 1px solid #f6f6f7;
  padding:25px;
  margin: 0 auto;
}

.listClass ul{
  list-style: none;
  margin-top: 15px;
}

.modal-header{
  background-color: #e5d80e;
  color: #f6f6f7;
}

.modal-header .close{
  background: none;
  outline: none;
}

.modal-header .close .fa{
  padding: 0 !important;
  color: #000;
}
